{% extends 'core/base.html' %}
{% block content %}
<div class="max-w-7xl mx-auto py-4 px-6  bg-gray-50">
    <h1 class="text-4xl text-center p-4 font-semibold  text-[#e67e22]">BookWeb: Where every click unlocks a world of
        knowledge and imagination</h1>

    <div class="about-us max-w-5xl mx-auto">
        <p class="p-5 text-lg text-gray-500">At BookWeb, we are passionate about connecting book
            lovers with their next great read. Our online bookstore
            offers an extensive collection of books across various genres, ranging from captivating fiction and
            thought-provoking non-fiction to thrilling mysteries and inspiring self-help titles. Whether you are a
            lifelong bookworm or just beginning your reading journey, we have something to cater to every taste and
            interest.

            We believe in the power of books to educate, entertain, and ignite the imagination. That's why we have
            curated a diverse selection of literary works from both established authors and emerging talents. With our
            user-friendly interface and advanced search options, finding your desired book is a breeze. Browse through
            our virtual shelves, read insightful reviews, and discover hidden literary gems that will transport you to
            new worlds and broaden your horizons.

            At BookWeb, we are committed to providing a seamless and secure shopping experience. With convenient online
            ordering and prompt delivery, you can indulge in your literary cravings from the comfort of your own home.
            Our dedicated customer support team is always ready to assist you, ensuring that your journey with us is
            smooth and enjoyable.

            Join our vibrant community of book enthusiasts and stay updated with the latest releases, author events, and
            exclusive promotions. Be part of a world where words come alive and stories unfold with every turn of the
            page. BookWeb is your trusted companion on your reading adventure.

            Thank you for choosing BookWeb. Let's embark on an exciting literary journey together!</p>
    </div>
</div>

{% endblock %}