<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Book</title>
</head>

<body>
    <nav class="border-b fixed z-10 top-0 w-full bg-gray-50 border-gray-300">
        <div class="max-w-6xl mx-auto py-2 px-6 xl:px-0 flex items-center justify-between">
            <div class="menu-left flex  items-center space-x-6">
                <a href="{% url 'home' %}"
                    class="px-3 py-3 text-lg text-[#e67e22] rounded-full  hover:bg-gray-100 duration-150  "><svg
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-8 h-8">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25" />
                    </svg>
                </a>
                <ul class="flex  items-center space-x-10">
                    <li><a href="{% url 'shop' %}"
                            class="text-xl font-semibold  text-gray-600 hover:border-b-[2px] hover:border-[#e67e22] transition-colors duration-300 ">Shop</a>
                    </li>
                    <li><a href="#"
                            class="text-xl font-semibold  text-gray-600 hover:border-b-[2px] hover:border-[#e67e22] transition-colors duration-300 ">About
                            us</a>
                    </li>
                </ul>

            </div>
            <div class="search-bar bg-gray-100 rounded-xl">
                <form method="GET" action="{% url 'shop' %}">
                    <div class="flex">
                        <input type="text" name="query"
                            class="pl-6 rounded-xl bg-gray-100 placeholder:text-gray-600 placeholder:font-semibold"
                            placeholder="Search...">

                        <button class="p-4">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-7 h-7">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                            </svg>

                        </button>
                    </div>
                </form>

            </div>

            <div class="menu-right flex items-center  space-x-10 ">
                <div class="profile px-3 py-3 rounded-full hover:bg-gray-100 ">
                    <a href="{% url 'myaccount' %}">

                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-8 h-8">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                        </svg>
                    </a>

                </div>
                <div class="cart px-3 py-3 rounded-full hover:bg-gray-100" hx-get="{% url 'hx_menu_cart' %}"
                    hx-trigger="update-menu-cart from:body" hx-swap="innerHTML">
                    {% include 'cart/menu_cart.html' %}
                </div>
                <div>
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'logout' %}"
                        class="px-5 py-3 rounded-3xl text-white hover:bg-[#e67e22] bg-[#e99041]">Logout</a>
                    {% else %}
                    <a href="{% url 'login' %}"
                        class="px-5 py-3 rounded-3xl text-white hover:bg-[#e67e22] bg-[#e99041]">Login</a>

                    {% endif %}
                </div>

            </div>


    </nav>

    <main>
        <div class="container pt-14 pb-16 mb-10">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <footer class="  fixed bottom-0 w-full  pb-2  bg-gray-100 ">
        <div class="max-w-6xl mx-auto py-6 px-6 xl:px-0 text-center">
            <span class="mb-5 text-lg text-gray-700 ">Copyright &copy; 2023 by Pradeep. All rights reserved</span>

            <div class=" w-full mx-auto flex justify-center space-x-12 px-4 pt-6">
                <span class="text-[#3b5998]"><a href="https://www.facebook.com/" class="hover:text-[#2d4373]"><ion-icon
                            class="h-6 w-6" name="logo-facebook"></ion-icon></a></ion-icon></span>
                <span class="text-[#c32aa3]"><a href="https://www.instagram.com/" class="hover:text-[#8b1e74]"><ion-icon
                            class="h-6 w-6" name="logo-instagram"></ion-icon></a></span>
                <span class="text-[#1da1f2]"><a href="https://twitter.com/home" class="hover:text-[#0b7bc0]"><ion-icon
                            class="h-6 w-6" name="logo-twitter"></ion-icon></a></span>
                <span class="text-[#0a66c2]"><a href="https://linkedin.com/" class="hover:text-[#084c91]"><ion-icon
                            class="h-6 w-6" name="logo-linkedin"></ion-icon></a></span>
                <span class="text-[#5865f2]"><a href="https://discord.com/" class="hover:text-[#192bed]"><ion-icon
                            class="h-6 w-6" name="logo-discord"></ion-icon></a></span>
            </div>

        </div>
    </footer>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>


<!-- color code
    light - #eb9950
middle - #e67e22
dark - #dd751a
more - #b05d14
-->