{% extends 'core/base.html' %}
{% block content %}
<div class="max-w-6xl mx-auto flex flex-wrap items-start py-6 px-6 xl:px-0">
    <form action="{% url 'start_order'%}" method="POST">
        {% csrf_token %}
        <div class="books w-full lg:w-3/4">
            <h1 class="mb-5 text-3xl text-gray-800">Checkout</h1>

            <div class="w-full pr-6 ">
                <div class="mb-6 p-6 bg-gray-100 rounded-xl">
                    <h2 class="mb-5 uppercase text-lg text-gray-700">Shipping information</h2>
                    <div class="flex space-x-6">
                        <div class="w-1/2 mb-4">
                            <label class="inline-block mb-2 text-gray-600">First name</label>
                            <input name="first_name" type="text" class="w-full p-5 rounded-xl text-gray-500"
                                value="{{request.user.first_name}}">
                        </div>

                        <div class="w-1/2 mb-4">
                            <label class="inline-block mb-2 text-gray-600">Last name</label>
                            <input name="last_name" type="text" class="w-full p-5 rounded-xl text-gray-500"
                                value="{{request.user.last_name}}">
                        </div>

                    </div>
                    <div class="mb-4">
                        <label class="inline-block text-gray-600">Address</label>
                        <input name="address" type="text" class="w-full p-5 rounded-xl text-gray-500">


                    </div>
                    <div class="flex space-x-6">
                        <div class="w-1/2 mb-4">
                            <label class="inline-block mb-2 text-gray-600">Zip Code</label>
                            <input name="zipcode" type="text" class="w-full p-5 rounded-xl text-gray-500">
                        </div>

                        <div class="w-1/2 mb-4">
                            <label class="inline-block mb-2 text-gray-600">City</label>
                            <input name="city" type="text" class="w-full p-5 rounded-xl text-gray-500">
                        </div>

                    </div>
                </div>
                <div class="mb-6 p-6 bg-gray-100 rounded-xl">
                    <h2 class="mb-5 uppercase text-lg text-gray-700">contact information</h2>
                    <div class="mb-4">
                        <label for="email" class="inline-block mb-2 text-gray-600">Email</label>
                        <input name="email" type="email" class="w-full p-5 rounded-xl text-gray-500"
                            value="{{request.user.email}}">
                    </div>
                    <div class="mb-4">
                        <label for="phone" class="inline-block mb-2 text-gray-600">phone</label>
                        <input name="phone" type="phone" class="w-full p-5 rounded-xl text-gray-500">
                    </div>
                </div>
                <div class="mb-6 p-6 bg-gray-100 rounded-xl">
                    <h2 class="mb-5 uppercase text-lg text-gray-500">Payment information</h2>
                </div>
            </div>

        </div>

        <div class="summary w-full lg:w-1/4 p-6 bg-gray-100 rounded-xl mt-3">
            <h1 class="uppercase text-lg mb-5 ">Summary</h1>

            <div class="mb-6 flex justify-between">
                <span class="font-semibold">Total</span>
                <span>${{cart.get_total_cost}}</span>
            </div>
            <button
                class="inline-block text-white px-6 py-3 rounded-3xl bg-[#e67e22] hover:bg-[#dd751a]">Confirm</button>
        </div>
    </form>
</div>
{% endblock %}