{% if item %}
<div class="book mb-6 pt-4 flex pr-6" id="cart-item-{{item.book.id}}">
    <a href="#" class="w-1/4 items-end ">
        <img src="{{item.book.cover_image.url}}" class="hover:shadow-lg rounded-xl w-32 h-32 float-right" alt="">
    </a>
    <div class="w-3/4 pl-6 ">
        <div class="flex justify-between">
            <a href="#" class="text-lg ">{{item.book.title}}</a>

            <span class="mb-6 pt-1 text-gray-400">${{item.total_price}}</span>
        </div>
        <hr>
        <div class="quantity mt-6 flex items-center space-x-4">
            <a class="p-3 bg-gray-100" hx-get="{% url 'update_cart' item.book.id 'decrement' %}"
                hx-target="#cart-item-{{item.book.id}}" hx-swap="outerHTML">-</a>
            <span>{{item.quantity}}</span>
            <a class="p-3 bg-gray-100" hx-get="{% url 'update_cart' item.book.id 'increment' %}"
                hx-target="#cart-item-{{item.book.id}}" hx-swap="outerHTML">+</a>
        </div>

    </div>
</div>
{% endif %}